<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.zuche.services.system.mapper.UserMapper">

    <resultMap id="userResultMap" type="top.zuche.services.api.dto.UserDTO">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="merchant_id" property="merchantId" jdbcType="INTEGER"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="cname" property="cname" jdbcType="VARCHAR"/>
        <result column="telephone" property="telephone" jdbcType="VARCHAR"/>
        <result column="department" property="department" jdbcType="VARCHAR"/>
        <result column="post" property="post" jdbcType="VARCHAR"/>
        <result column="account_expired" property="accountExpired" jdbcType="INTEGER"/>
        <result column="account_locked" property="accountLocked" jdbcType="INTEGER"/>
        <result column="credentials_expired" property="credentialsExpired" jdbcType="INTEGER"/>
        <result column="create_user" property="createUser" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="modify_user" property="modifyUser" jdbcType="INTEGER"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
        <result column="is_deleted" property="isDeleted" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="userResultMapWithRoles" type="top.zuche.services.api.dto.UserDTO">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="merchant_id" property="merchantId" jdbcType="INTEGER"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="cname" property="cname" jdbcType="VARCHAR"/>
        <result column="telephone" property="telephone" jdbcType="VARCHAR"/>
        <result column="department" property="department" jdbcType="VARCHAR"/>
        <result column="post" property="post" jdbcType="VARCHAR"/>
        <result column="account_expired" property="accountExpired" jdbcType="INTEGER"/>
        <result column="account_locked" property="accountLocked" jdbcType="INTEGER"/>
        <result column="credentials_expired" property="credentialsExpired" jdbcType="INTEGER"/>
        <result column="create_user" property="createUser" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="modify_user" property="modifyUser" jdbcType="INTEGER"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
        <result column="is_deleted" property="isDeleted" jdbcType="INTEGER"/>

        <collection property="roles" ofType="top.zuche.services.api.dto.RoleDTO">
            <id column="role_id" property="id" jdbcType="INTEGER"/>
            <result column="role_name" property="roleName" jdbcType="VARCHAR"/>
            <result column="role_create_user" property="createUser" jdbcType="INTEGER"/>
            <result column="role_create_time" property="createTime" jdbcType="TIMESTAMP"/>
            <result column="role_modify_user" property="modifyUser" jdbcType="INTEGER"/>
            <result column="role_modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
            <result column="role_is_deleted" property="isDeleted" jdbcType="INTEGER"/>
        </collection>
    </resultMap>

    <sql id="Base_Column_List" >
      u.id, u.merchant_id, u.username, u.password, u.cname, u.telephone, u.department, u.post, u.account_expired,
      u.account_locked, u.credentials_expired, u.create_user, u.create_time, u.modify_user, u.modify_time, u.is_deleted
    </sql>

    <sql id="With_Role_Column_List" >
      u.id, u.merchant_id, u.username, u.password, u.cname, u.telephone, u.department, u.post, u.account_expired,
      u.account_locked, u.credentials_expired, u.create_user, u.create_time, u.modify_user, u.modify_time, u.is_deleted,
      r.id as role_id, r.role_name as role_name, r.create_user as role_create_user, r.create_time as role_create_time,
      r.modify_user as role_modify_user, r.modify_time as role_modify_time, r.is_deleted as role_is_deleted
    </sql>

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id" parameterType="top.zuche.services.api.dto.UserDTO" >
        insert ignore into t_sys_user
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="merchantId != null" >
                merchant_id,
            </if>
            <if test="username != null and username != ''" >
                username,
            </if>
            <if test="password != null and password != ''" >
                password,
            </if>
            <if test="cname != null and cname != ''" >
                cname,
            </if>
            <if test="telephone != null and telephone != ''" >
                telephone,
            </if>
            <if test="department != null and department != ''" >
                department,
            </if>
            <if test="post != null and post != ''" >
                post,
            </if>
            <if test="accountExpired != null" >
                account_expired,
            </if>
            <if test="accountLocked != null" >
                account_locked,
            </if>
            <if test="credentialsExpired != null" >
                credentials_expired,
            </if>
            <if test="createUser != null" >
                create_user,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="merchantId != null" >
                #{merchantId, jdbcType=INTEGER},
            </if>
            <if test="username != null and username != ''" >
                #{username, jdbcType=VARCHAR},
            </if>
            <if test="password != null and password != ''" >
                #{password, jdbcType=VARCHAR},
            </if>
            <if test="cname != null and cname != ''" >
                #{cname, jdbcType=VARCHAR},
            </if>
            <if test="telephone != null and telephone != ''" >
                #{telephone, jdbcType=VARCHAR},
            </if>
            <if test="department != null and department != ''" >
                #{department, jdbcType=VARCHAR},
            </if>
            <if test="post != null and post != ''" >
                #{post, jdbcType=VARCHAR},
            </if>
            <if test="accountExpired != null" >
                #{accountExpired, jdbcType=INTEGER},
            </if>
            <if test="accountLocked != null" >
                #{accountLocked, jdbcType=INTEGER},
            </if>
            <if test="credentialsExpired != null" >
                #{credentialsExpired, jdbcType=INTEGER},
            </if>
            <if test="createUser != null" >
                #{createUser, jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <insert id="batchInsertUser" keyProperty="id" useGeneratedKeys="true" parameterType="java.util.List">
        insert ignore into t_sys_user
        (merchant_id, username, password, cname, telephone, department, post, account_expired, account_locked, credentials_expired, create_user)
        values
        <foreach collection="list" index="index" separator="," item="item">
            (#{item.merchantId, jdbcType=INTEGER},
            #{item.username, jdbcType=VARCHAR},
            #{item.password, jdbcType=VARCHAR},
            #{item.cname, jdbcType=VARCHAR},
            #{item.telephone, jdbcType=VARCHAR},
            #{item.department, jdbcType=VARCHAR},
            #{item.post, jdbcType=VARCHAR},
            #{item.accountExpired, jdbcType=INTEGER},
            #{item.accountLocked, jdbcType=INTEGER},
            #{item.credentialsExpired, jdbcType=INTEGER},
            #{item.createUser, jdbcType=INTEGER})
        </foreach>
    </insert>

    <delete id="deleteByPrimaryKey" parameterType="int">
        delete from t_sys_user
        where id = #{id, jdbcType=INTEGER}
    </delete>

    <delete id="deleteByUsername" parameterType="String">
        delete from t_sys_user
        where username = #{username, jdbcType=VARCHAR}
    </delete>

    <update id="updateUserByPrimaryKey" parameterType="top.zuche.services.api.dto.UserDTO" >
        update t_sys_user
        <set>
            <if test="merchantId != null" >
                merchant_id = #{merchantId, jdbcType=INTEGER},
            </if>
            <if test="username != null and username != ''" >
                username = #{username, jdbcType=VARCHAR},
            </if>
            <if test="password != null and password != ''" >
                password = #{password, jdbcType=VARCHAR},
            </if>
            <if test="cname != null and cname != ''" >
                cname = #{cname, jdbcType=VARCHAR},
            </if>
            <if test="telephone != null and telephone != ''" >
                telephone = #{telephone, jdbcType=VARCHAR},
            </if>
            <if test="department != null and department != ''" >
                department = #{department, jdbcType=VARCHAR},
            </if>
            <if test="post != null and post != ''" >
                post = #{post, jdbcType=VARCHAR},
            </if>
            <if test="accountExpired != null" >
                account_expired = #{accountExpired, jdbcType=INTEGER},
            </if>
            <if test="accountLocked != null" >
                account_locked = #{accountLocked, jdbcType=INTEGER},
            </if>
            <if test="credentialsExpired != null" >
                credentials_expired = #{credentialsExpired, jdbcType=INTEGER},
            </if>
            <if test="modifyUser != null" >
                modify_user = #{modifyUser, jdbcType=INTEGER},
            </if>
            <if test="isDeleted != null" >
                is_deleted = #{isDeleted, jdbcType=INTEGER},
            </if>
            modify_time = now()
        </set>
        where id = #{id, jdbcType=INTEGER}
    </update>

    <update id="updateUserByUsername" parameterType="top.zuche.services.api.dto.UserDTO" >
        update t_sys_user
        <set>
            <if test="merchantId != null" >
                merchant_id = #{merchantId, jdbcType=INTEGER},
            </if>
            <if test="username != null and username != ''" >
                username = #{username, jdbcType=VARCHAR},
            </if>
            <if test="password != null and password != ''" >
                password = #{password, jdbcType=VARCHAR},
            </if>
            <if test="cname != null and cname != ''" >
                cname = #{cname, jdbcType=VARCHAR},
            </if>
            <if test="telephone != null and telephone != ''" >
                telephone = #{telephone, jdbcType=VARCHAR},
            </if>
            <if test="department != null and department != ''" >
                department = #{department, jdbcType=VARCHAR},
            </if>
            <if test="post != null and post != ''" >
                post = #{post, jdbcType=VARCHAR},
            </if>
            <if test="accountExpired != null" >
                account_expired = #{accountExpired, jdbcType=INTEGER},
            </if>
            <if test="accountLocked != null" >
                account_locked = #{accountLocked, jdbcType=INTEGER},
            </if>
            <if test="credentialsExpired != null" >
                credentials_expired = #{credentialsExpired, jdbcType=INTEGER},
            </if>
            <if test="modifyUser != null" >
                modify_user = #{modifyUser, jdbcType=INTEGER},
            </if>
            <if test="isDeleted != null" >
                is_deleted = #{isDeleted, jdbcType=INTEGER},
            </if>
            modify_time = now()
        </set>
        where username = #{username, jdbcType=VARCHAR}
    </update>

    <select id="selectUserWithRolesByUsername" resultMap="userResultMapWithRoles" parameterType="String" >
        select
        <include refid="With_Role_Column_List" />
        from t_sys_user u
        left join t_sys_user_role ur
        on u.id = ur.user_id
        left join t_sys_role r
        on ur.role_id = r.id
        and r.is_deleted = 0
        where u.is_deleted = 0
        and u.username = #{username, jdbcType=VARCHAR}
    </select>

    <select id="selectUserByUsername" resultMap="userResultMap" parameterType="String" >
        select
        <include refid="Base_Column_List" />
        from t_sys_user u
        where u.is_deleted = 0
        and u.username = #{username, jdbcType=VARCHAR}
    </select>
</mapper>