import axios from '@/libs/http'

// 保存
export const save = (obj) => {
  return axios.request({
    url: '/api/v1/${module}/${subModuleLower}/save',
    method: 'post',
    data: obj
  })
}

// 删除
export const del = ({ id }) => {
  return axios.request({
    url: '/api/v1/${module}/${subModuleLower}/del',
    method: 'get',
    params: {
      id
    }
  })
}

// 根据ID查询
export const queryOne = ({ id }) => {
  return axios.request({
    url: '/api/v1/${module}/${subModuleLower}/queryOne',
    method: 'get',
    params: {
      id
    }
  })
}

// 分页查询
export const queryPage = ({ pageNo, pageSize }) => {
  return axios.request({
    url: '/api/v1/${module}/${subModuleLower}/queryPage',
    method: 'post',
    data: {
      pageNo,
      pageSize
    }
  })
}
