package top.zuche.manager.console.${module}.controller;

import top.zuche.services.api.dto.${DTO};
import top.zuche.services.api.dto.Paging;
import top.zuche.services.api.query.${Query};
import top.zuche.common.web.resp.ResponseData;
import top.zuche.services.api.service.${subModule}RpcService;

import com.alibaba.dubbo.config.annotation.Reference;
import lombok.extern.slf4j.Slf4j;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;
import org.springframework.web.bind.annotation.RequestBody;

@Slf4j
@RestController
@RequestMapping("/api/v1/${module}/${subModuleLower}")
public class ${subModule}Controller {

    @Reference
    private ${subModule}RpcService ${subModuleLower}RpcService;

    // 分页查询
    @PostMapping("/queryPage")
    public ResponseData<Paging<${DTO}>> queryPage(@RequestBody ${Query} query) {
        Paging<${DTO}> pageResult = ${subModuleLower}RpcService.queryPageByCondition(query);
        return ResponseData.ok(pageResult);
    }

    // 根据主键查询指定对象
    @GetMapping("/queryOne")
    public ResponseData<${DTO}> queryOne(int id) {
        ${DTO} dto = ${subModuleLower}RpcService.query${subModule}ByPrimaryKey(id);
        return ResponseData.ok(dto);
    }

    // 增加和更新记录
    @PostMapping("/save")
    public ResponseData save(@RequestBody ${DTO} dto) {
        if (dto.getId() != null) {
            ${subModuleLower}RpcService.update${subModule}ByPrimaryKey(dto);
        } else {
            ${subModuleLower}RpcService.add${subModule}(dto);
        }
        return ResponseData.ok();
    }

    // 删除记录
    @GetMapping("/del")
    public ResponseData del(int id) {
        ${subModuleLower}RpcService.delete${subModule}ByPrimaryKey(id);
        return ResponseData.ok();
    }
}
