package ${basePackage}.${module}.dto;

import top.zuche.common.web.query.PageQuery;

import lombok.Getter;
import lombok.Setter;

import java.io.Serializable;

/**
* @author lzx
* @date 2018/12/19 2:04 PM
*/
@Getter
@Setter
public class ${Query} extends PageQuery implements Serializable {

}