package top.zuche.services.api.service;

import top.zuche.services.api.dto.${DTO};
import top.zuche.services.api.dto.${Query};
import top.zuche.services.api.dto.Paging;
import top.zuche.services.api.exception.ServiceException;

import java.util.List;

/**
* ${subModule}服务接口
*
* @author lzx
* @date 2018/12/16 5:11 PM
*/
public interface ${subModule}RpcService {

    // 添加实体
    void add${subModule}(${DTO} dto) throws ServiceException;

    // 根据主键按需更新
    void update${subModule}ByPrimaryKey(${DTO} dto) throws ServiceException;

    // 根据主键删除
    void delete${subModule}ByPrimaryKey(int id) throws ServiceException;

    // 根据主键查询单个实体
    ${DTO} query${subModule}ByPrimaryKey(int id) throws ServiceException;

    // 根据查询条件，查询所有满足的实体
    List<${DTO}> queryAll${subModule}sByCondition(${Query} query) throws ServiceException;

    // 根据查询条件，执行分页查询
    Paging<${DTO}> queryPageByCondition(${Query} query) throws ServiceException;

}